.svn/
*.swp
/boost/
/documents/
/help/
/distribution/
/packages/
/redundant_code/
/temp/
/testdata/
/unit_tests/
/unix/
/images/
/wxWidgets/
/backup/
src/snap_manager/scriptimp_parse.cpp
