.svn/
*.swp
*.o
*.obj
*.aps
makefile.inc
/boost/
/documents/
/help/
/distribution/
/packages/
/redundant_code/
/temp/
/testdata/
/unit_tests/
/images/
/wxWidgets/
/backup/
src/snap_manager/scriptimp_parse.cpp
src/VERSIONID
/example_jobs/
*.orig
/srcdocs/
/wxwidgets/
/ms/projects/wxtest/
/notes/
/linux/debug/
/linux/release/
