body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #1f2328;
}

h1 {
        color: #1f2328;
        font-size: 22px;
	font-weight: 600;
	border-width: 0;
	border-bottom: 1px solid #d8dee4;
	padding: 0 0 8px 0;
}

h2 {
        margin-top: 2em;
        margin-bottom: 1em;
        color: #1f2328;
        font-size: 17px;
	font-weight: 600;
}

h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #1f2328;
        font-size: 15px;
        font-weight: 600;
}


a {
	color: #0969da;
        text-decoration: none;
}

a:visited {
        color: #8250df;
}

a:hover {
        text-decoration: underline;
}


td {
	padding-top: 10pt;
	font-size: 10pt;
	vertical-align: top;
}

p
{
	margin-top: 1em;
	margin-left: 1em;
}

p.BulletList 
{
	display: list-item;
	list-style-type: disc;
        margin-top: 0.5em;
	margin-left: 5em;
}

p.Commanddefinition,
p.Commanddescexample
{
	white-space: nowrap;
	font-family: monospace;
	margin-left: 3em;
}

p.Commandexample 
{
	font-family: monospace;
	margin-left: 5em;
}

pre
{
	font-family: monospace;
	margin-left: 5em;
}

pre.Commandexample
{
	font-family: monospace;
	margin-left: 5em;
}

p.Commanddescription
{
	margin-left: 5em;
}

ul.Commanddescription
{
	margin-left: 6em;
}


p.alert
{
        color: #1f2328;
	border-width: 1px;
	border-style: solid;
	border-color: #d4a72c;
	background-color: #fff8c5;
	padding: 5px;
}

table
{
	margin-left: 1em;
}

table.Commanddescription,
table.Commanddescription_compact
{
	margin-left: 5em;
}
/*
table.Commanddescription_compact tr td
{
	padding-top: 0;
}
*/

table.Commanddescription tr td
{
	padding: 1px 0 1px 1em;
}

table.CommandOptions tr td p
{
	margin-left: 2em;
}

table.coordsys_table td.header
{
	font-weight: bold;
	padding: 1em 0 1px 1em;
}

table.coordsys_table td
{
	padding: 1px 0 1px 1em;
}

.nobr
{
	white-space: nowrap
}

p.Commandlistitem 
{
}

p.Listing,
p.Listingbody ,
p.Listingbodyj ,
p.Listinghead ,
p.Listingtail,
{
	white-space: pre-line;
	font-family: monospace;
	font-size: 80%;
	background-color: #f6f8fa;
	margin-top: 0;
	margin-bottom: 0;
}

pre.Listing,
pre.ConfigFile
{
	font-family: monospace;
	font-size: 80%;
	background-color: #f6f8fa;
	margin-top: 10px;
	margin-bottom: 10px;
}

pre.Listing span.UserInput
{
	font-weight: bold;
}

span.MenuItem
{
	white-space: nowrap;
	background-color: #eaeef2;
}

img
{
	border-width: 1px;
	border-style: solid;
	border-color: #d8dee4;
}

img.RightImage
{
	float: right;
}
