Title Free network adjustment

mode 3d adjustment

coordinate_file $mdfcfile csv format=mdfc1

data_file $veccfile csv format=vecc1

configuration gpstest

deformation datum

test_specification order_5 all
