env: COORDSYSDEF {configdir}/../test_coordsys/coordsys.def
env: EF_DISABLE_BANNER 1
test_dir: in
out_dir: out
check_dir: check
testre: (snapspec\w+).test
program: snap
program: snapspec
command: "{program:snap}" {test}.snp
command: "{debug}{program:snapspec}" {parameters} {test}.bin {test}.cfg {test}.lst
output: null
error_output: null

match_replace_re: ~\.(lst)$ ~snapspec version\s+\d+\.\d+(?:\.\d+(?:\-\w+)?)? ~snapspec version 0.0.0:~
match_replace_re: ~\.(lst)$ ~Run\s+at\s+\w+\-\w+\-\d{4}\s+\d\d\:\d\d\:\d\d ~Run at 1-JAN-2000~
match_replace_re: ~\.(lst)$ ~run\s+time\:\s+\w+\-\w+\-\d{4}\s+\d\d\:\d\d\:\d\d ~run time: 1-JAN-2000~
match_replace_re: ~\.(lst)$ ~\\~\/~

match_absolute_tolerance: 0.000001
