# Directories used.  test_dir is location of test definition files, 
# out_dir is where output will be placed, check_dir is where valid output files
# are located

test_dir: in
out_dir: out
check_dir: check

# Regular expression defining the names of test definition files

testre: (test\w+)\.snp

# Name of test program

program: dat2site

# Test command line 

set: fileparams {test}.snp

command: {debug}"{program}" {parameters} {fileparams}

# Environment settings used by the scripts

env: COORDSYSDEF {configdir}/../test_coordsys/coordsys.def

# Regular expressions used to identify files to install into the 
# working directory for the tests

filere:  ^\s*coordinate_file\s+(\S+)                    .crd
filere:  ^\s*data_file\s+(\S+)                          .dat
filere:  ^\!file\:\s+(\S+)

# Expression identifying parameters to use in the test command line

configre: ^\!(\w+)\:\s*(\S.*?)\s*$

#capture:

#################################################################
# Setting used by checktest.pl to compare output and check files.  
# Defines match tolerances,either regex replacements to change 
# runtime variable expressions, or numeric tolerances for
# floating point number comparisons.

# File match regular expressions, file_re, input_re, replacement

match_replace_re: ~\.(lst|err)$  ~\\  ~\/
match_replace_re: ~\.(newcrd|new)   ~^(\! Updated by dat2site ).*   ~$1...

# Tolerance (multiple of value, absolute difference)

match_absolute_tolerance: 1.0e-8
match_relative_tolerance: 1.0e-10

# Specific tolerances (match_line_absolute_tolerance/match_line_relative_tolerance)
#    tolerance filere linere

match_line_absolute_tolerance: 0.0001 testgx.*\.lst \"b\"

# Ignore blanks

match_ignore_blanks: true
