Source: linz-snap
Section: science
Priority: optional
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Build-Depends: debhelper (>= 8.0.0),
    g++,
    libboost-dev,
    libboost-math-dev,
    libboost-regex-dev,
    libboost-filesystem-dev,
    libwxgtk3.0-gtk3-dev,
    python3
Standards-Version: 3.9.2
Homepage:
#Vcs-Git: git://git.debian.org/collab-maint/linz-snap.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/linz-snap.git;a=summary

Package: linz-snap
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
    perl,
    linz-coordsys,
    libwxgtk3.0-gtk3-dev,
Description: Install LINZ snap software
 Install LINZ snap survey network adjustment software suite.
 Includes snap (run with command runsnap), snap_manager, concord, etc.
