#!/usr/bin/make -f

SNAP_BUILD_DIR ?= obj-x86_64-linux-gnu
SNAP_BUILD_GUI ?= ON

%:
	dh $@ --buildsystem=cmake --builddirectory=$(SNAP_BUILD_DIR)

override_dh_auto_configure:
	dh_auto_configure -- -DSNAP_BUILD_GUI=$(SNAP_BUILD_GUI) -DCMAKE_BUILD_TYPE=Release \
		-DBOOST_ROOT=/usr \
		-DBOOST_LIBRARYDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
		-DBoost_NO_BOOST_CMAKE=ON \
		-DBoost_NO_SYSTEM_PATHS=ON

override_dh_auto_build:
	grep -rl GETVERSION_SET_PROGRAM_DATE src | xargs touch
	dh_auto_build

override_dh_auto_test:
	@true

override_dh_update_autotools_config:
	dh_update_autotools_config -Xwxwidgets
