env: COORDSYSDEF {configdir}/cstest/coordsys.def
env: EF_DISABLE_BANNER 1
test_dir: in
out_dir: out
check_dir: check
testre: (test\w+).test
program: concord
output: {test}.txt
error_output: output

match_replace_re: ~\.(out|txt)$ ~version\s+\d+\.\d+(?:\.\d+(?:\-\w+)?)?\,?\s+dated\s+([\w\s\:]+) ~version 0.0
match_replace_re: ~\.txt$ ~ile\:\s+(.*)cstest\/ ~ile: cstest\/~
